.categories_body{
    background-color: #fbfbfb;
}
.categories_path{
    float:left;
    margin-left:27px;
}
.categories_path p{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:12px;
    color:#888888;
    text-transform: lowercase;
    display: inline;
}
.categories_path p::before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #888888;
    margin:0px 7px;
}
.categories_path p:last-child{
    color:#f03e45;
}
.categories_path p:first-child::before{
    display: none;
}
.categories_result{
    float:right;
    margin-right:27px;
}
.categories_result p{
    color:#f03e45;
}
.categorii_content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.categorii_item_c {
    width:360px;
    display:inline-block;
}
.item-c .categorii_reducere{
    position:absolute;
    right:0;
    top:0;
}
.categorii_pagination{
    text-align:center;
    padding:30px 0px 60px;
    position:relative;
}
.categorii_pagination p a{
    text-decoration: none;
    cursor:pointer;
    margin:0px 6px;
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 26px;
    color:black;
}
.categorii_pagination p a:hover{
    color:#ed1b24;
}
.categorii_tip>p:hover{
    color:#ed1b24;
}
.categorii_tip{
    position:relative;
    padding:10px 0px 5px;
    cursor: pointer;
}
.categorii_tip p{
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 20px;
    color:black;
    text-transform: uppercase;
}
.categorii_tip span{
   position:absolute;
   top:13px;
   right:50px; 
}
.categorii_tip_expand{
    position:absolute;
    top: 38px;
    left: 10px;
    background-color:#f7f7f7;
    width:185px;
    z-index:1;
    padding:20px 20px 10px;
    border-bottom: 2px solid black;
    display:none;
}
.categorii_tip_expand_single{
    position:relative;
}
.categorii_tip_expand_single span{
    position:absolute;
    right:0px;
    top:5px;;
}
.categorii_tip_expand_single p {
    margin-bottom:10px;
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 20px;
    color:black;
    text-transform: uppercase;
    cursor:pointer;
    display:inline-block;
}
.categorii_tip_expand_single p:hover{
    color:red;
}
.categorii_tip_expand_single span{
    display:none;
}
.categorii_tip_expand_single_selected p{
    border-bottom:2px solid red;
}
.categorii_tip_expand_single span:hover{
    cursor: pointer;
    color:red;
}
.categorii_culoare{
    width:18px;
    height: 18px;
    padding:1px;
    display:inline-block;
    margin-right:20px;
}
.categorii_culoare_selected{
    outline-color: #959595;
    outline-style: double;
}
.categorii_marime{
    display:inline-block;
    width:23px;
    height:23px;
    margin-right:3.5px;
    margin-bottom:7px;
}
.categorii_marime p{
    padding:0px 3px;
    margin: 0;
    display: initial;
}
.categorii_marime_selected {
    border:1px solid #959595;
}
.categorii_tip>p:hover{
    color:#ed1b24;
}