@media(max-width:1280px){
    .categorii_item_c {
        width: 290px;
        display: inline-block;
        height: 360px;
    }
    .categorii_content .item-c img {
        max-width: 200px;
    }
}
@media(max-width:992px){
    .categorii_item_c {
        width: 215px;
        display: inline-block;
        height: 310px;
    }
    .categorii_content .item-c img {
        max-width: 160px;
    }
    .categorii_tip_expand {
        width: 78%;
    }
}

@media(max-width:767px){
    .categorii_item_c {
        width: 185px;
        display: inline-block;
        height: 280px;
    }
    .categorii_content .item-c img {
        max-width: 130px;
    }
    .categorii_tip_expand {
        width: 92%;
    }
}
@media(max-width:660px){
    .categorii_tip_expand {
        width: 90%;
    }
}

@media(max-width:550px){
    .categorii_item_c {
        width: 240px;
        display: inline-block;
        height: 290px;
    }
    .categorii_tip_expand {
        width: 88%;
    }
}
@media(max-width:450px){
    .categorii_tip span {
        right: 25px;
    }
    .categorii_tip_expand {
        width: 90%;
    }
}
