.date_personale_meniu{
    padding:25px 0px 25px 27px;;
}
.date_personale_meniu p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:#a5a5a5;
    text-transform: initial!important;
    margin-bottom:15px;
}
.date_personale_meniu p span{
    border-bottom:1px solid #ed1b24;
}
.date_personale_meniu ul{
    list-style-type:none;
    padding:15px 0px;
}
.date_personale_meniu ul li{
    margin-bottom:20px;
}
.date_personale_meniu ul a{
    color:black;
    font-family: 'BebasNeue';
    font-weight:400;
    font-size:25px;   
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
}
.date_personale_meniu ul a:hover{
    color:#ed1b24;
}
.date_personale_meniu_active{
    border-bottom:3px solid #ed1b24;
}
.date_personale_paragraph{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial!important;
}
.date_personale_parola{
    margin-top:30px;
    margin-bottom:20px;
}
.date_personale_form{
    padding:25px 0px 25px 27px;
}
.date_personale_salveaza{
    padding:6px 40px;
    color:white;
    background-color:black;
    font-family: 'BebasNeue';
    font-weight:400;
    font-size:16px;   
    text-transform: uppercase;
    cursor:pointer;
    float:right;
    border-radius:5px;
    margin-top: 30px;
    margin-bottom:50px;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
.date_personale_salveaza:focus{
    text-decoration: none;
    color:white;
}
.date_personale_salveaza:hover{
    text-decoration: none;
    color:white;
    background-color:#ae0e15;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
.date_livrare_background{
    background-color:#efe8e1;
}
.date_livrare_table td:first-child , .date_livrare_table th:first-child{
    width:25px;
}
.date_livrare_background td:first-child{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.date_livrare_background p , .date_livrare_background_modifica p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial!important;
    margin-bottom:0;
}
.date_livrare_background .istoric_comenzi_blue {
    color: rgb(44, 167, 203);
}
.date_livrare_background .istoric_comenzi_red, .date_livrare_background .istoric_comenzi_red, .date_livrare_background .istoric_comenzi_red{
    color:#ed1b24;
}
.date_livrare_background .istoric_comenzi_green{
    color:#1a7a33;
}
.date_livrare_background_modifica{
    background-color:#ddbf9f;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.date_livrare_background_modifica a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.date_livrare_background_modifica  a:hover{
    color:white;
}
.date_livrare_modifica_none{
    min-height: 27px;
}
.date_livrare_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial!important;
}

.date_livrare_table {
    width: 100%;
    table-layout: fixed;
  }
  
  .date_livrare_table td{
    margin-bottom:10px;
  }
  
  .date_livrare_table th,
  .date_livrare_table td {
    padding: 15px 10px 15px ;
  }
  
  .date_livrare_table th ,.date_livrare_table td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial!important;
  }
  #date_personale_adresa_nou{
      padding-left:30px;
      display:none;
  }
  .date_personale_adresa_head{
      padding:10px 0px;
      border-bottom:1px solid black;
      margin-bottom:20px;
  }
  .date_personale_adresa_head p{
      margin:0;
      display:inline;
  }
  .date_personale_adresa_head span{
      float:right;
      cursor:pointer;
  }
  .date_personale_adresa_head span:hover{
      color:#ae0e15;
}
.comenzi_active_table td:first-child{
    width:300px;
}
.comenzi_active_table td:last-child , .comenzi_active_table th:last-child{
    text-align: center;
}
.comenzi_active_table td:nth-child(6) , .comenzi_active_table th:nth-child(6){
    width:200px;
}
.comenzi_active_table td:first-child , .comenzi_active_table th:first-child{
    width:100px;
} 
.comenzi_active_table span{
    margin-left: 5px;
}
.comenzi_active_table .comanda_expediata{
    color:#2ca7cb;
}
.newsletter_dezabonare{
    padding:20px;
    border-radius: 6px;
}
.newsletter_dezabonare p, .newsletter_dezabonare label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color:#5e5e5e;
    opacity: 0.6;
    text-transform: initial!important;
}

.newsletter_dezabonare p:first-child{
    font-weight: 600;
    opacity: 1;
    margin-bottom:10px;
    color: #ddbf9f;
}
.newsletter_dezabonare .newsletter_email{
    border-bottom:1px solid #ddbf9f;
    padding-bottom:5px;
}
.newsletter_dezabonare_button {
    margin-top:20px;
    margin-bottom:0;
}
.newsletter_dezabonare + p{
    margin-left:20px;
    color: #5e5e5e;
    font-weight: 500;
    opacity: 0.6;
}
.newsletter_dezabonare .round{
    font-size:12px;
    color: #5e5e5e;
    opacity: 0.6;
}
.istoric_comenzi{
    padding-top:25px;
}
.istoric_comenzi_pret{
    float:right;
}
.istoric_comenzi_row{
    margin-bottom:30px;
}
.istoric_comenzi_img {
    -webkit-box-shadow:  0 6px 13px -7px grey;
    -moz-box-shadow: 0 6px 13px -7px grey;
    box-shadow: 0 6px 13px -7px grey;
}
.istoric_comenzi_head{
    text-align:right;
}
.istoric_comenzi_head h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial!important;
    margin-bottom:0;
}
.istoric_comenzi_row h3 , .istoric_comenzi_row h4{
    font-size:30px;
}
.istoric_comenzi_head_left h3{
    margin:10px 0px;
}
.istoric_comenzi_inapoi{
    margin-bottom:10px;
    margin-top:30px;
}
.istoric_comenzi_inapoi a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:25px;
    color:black;
    text-transform: uppercase;
}
.istoric_comenzi_inapoi i{
    margin-right:10px;
}
.istoric_comenzi_inapoi a:hover{
    color:#f03e45;
}
.istoric_comenzi_comanda{
    padding-top:20px;
    float: left;
}
.istoric_comenzi_plata{
    text-align:right;
    padding-top:20px;
}
.istoric_comenzi_curier{
    padding-top:20px;
}
.istoric_comenzi_curier h4, .istoric_comenzi_comanda h4, .istoric_comenzi_plata h4{
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:22px;
    color:black;
    text-transform: uppercase;
    margin-bottom:10px;
}
.istoric_comenzi_plata h4{
    margin-bottom:0px;
}
.istoric_comenzi_curier p, .istoric_comenzi_comanda p, .istoric_comenzi_plata p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:black;
    text-transform: initial;
    margin-bottom:0px;
}
.istoric_comenzi_curier .istoric_comenzi_gold, .istoric_comenzi_comanda .istoric_comenzi_gold, .istoric_comenzi_plata .istoric_comenzi_gold{
    color:#c2811b;
}
.istoric_comenzi_comanda .istoric_comenzi_green{
    color:#1a7a33;
}
.istoric_comenzi_plata p:first-of-type{
    color:#ddbf9f;
    text-transform: uppercase;
    font-size:40px;
    font-family: 'BebasNeue';
    font-weight:600;
}
.product_info_istoric{
    width: calc(100% - 100px);
}
.istoric_comenzi_header{
    border-bottom: 1px solid #ddbf9f;
}
.tab-container , .detalii_comanda_activa_more, .detalii_comanda_activa, .istoric_comenzi_detalii, .istoric_comanda_detalii{ 
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}
@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-8%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-8%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}

.istoric_comenzi_blue_plane::after{
    font-weight: 400;
    content: "\f0fb";    
    font-family: FontAwesome;  
    margin-left:5px;  
}
.istoric_comenzi_curier .istoric_comenzi_blue, .istoric_comenzi_comanda .istoric_comenzi_blue, .istoric_comenzi_plata .istoric_comenzi_blue{
    color: rgb(44, 167, 203);
}
.istoric_comenzi_blue a{
    cursor:pointer;
    color: rgb(44, 167, 203);
}
.istoric_comenzi_curier .istoric_comenzi_red, .istoric_comenzi_comanda .istoric_comenzi_red, .istoric_comenzi_plata .istoric_comenzi_red{
    color:#ed1b24;
}
.istoric_comenzi_green_heart::after{
    font-weight: 400;
    content: "\f004";    
    font-family: FontAwesome;  
    margin-left:5px;  
}
.istoric_comenzi_cos::after{
    content: url("/assets/img/dolly.png");
    width:10px;
    height:10px;
    margin-left:5px;  
    display:inline-block;
}
.istoric_comenzi_scissors::after{
    font-weight: 400;
    content: "\f0c4";    
    font-family: FontAwesome;
    margin-left:5px;  
}
.istoric_comenzi_curier p:not([class]),.istoric_comenzi_comanda p:not([class]){ 
    margin-top:20px;
}
.istoric_comenzi_curier p:not([class]):first-of-type,.istoric_comenzi_comanda p:not([class]):first-of-type{ 
margin-top:0px;
}

