@media(max-width:1280px){
    .istoric_comenzi_row h3, .istoric_comenzi_row h4 {
        font-size: 26px;
    }
}
@media(max-width:1212px){
    .date_livrare_background_modifica {
        padding: 18px 10px 10px;
    }
    .date_livrare_modifica_none {
        min-height: 44px;
    }
}
@media(max-width:993px){
    .date_livrare_table td{
        font-size:10px;
    }
    .comenzi_active_table td:first-child , .comenzi_active_table th:first-child{
        width:65px;
    } 
    .comenzi_active_table td:nth-child(6) , .comenzi_active_table th:nth-child(6){
        width: 165px;
    }
    .comenzi_active_table td:nth-child(5) , .comenzi_active_table th:nth-child(5){
        width:60px;
    }
    .istoric_comenzi_row h3, .istoric_comenzi_row h4 {
        font-size: 22px;
    }
    .product_info_istoric .marime{   
        font-size: 13px;
    }
}

@media(max-width:767px){
    .date_personale_meniu{
        padding-bottom: 0px;
    }
    .date_personale_form {
        padding-top: 0px;
    }
    .date_personale_meniu ul li {
        margin-bottom: 10px;
    }
    .date_livrare_table td{
        font-size:12px;
    }
    .comenzi_active_table td{
        font-size:10px;
    }
    .product-price-cart {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .date_livrare_table {
      border: 0;
    }
  
    .date_livrare_table caption {
      font-size: 1.3em;
    }
    
    .date_livrare_table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .date_livrare_table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .date_livrare_table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .date_livrare_table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .date_livrare_table td:last-child {
      border-bottom: 0;
    }
    .comenzi_active_table td:first-child , .comenzi_active_table th:first-child{
        width:auto;
    } 
    .comenzi_active_table td:nth-child(6) , .comenzi_active_table th:nth-child(6){
        width:auto;
    }
    .comenzi_active_table td:nth-child(5) , .comenzi_active_table th:nth-child(5){
        width:auto;
    }
    .newsletter_dezabonare {
        padding-left: 0px;
        padding-right: 0px;
    }
    .newsletter_dezabonare + p {
        margin-left: 0px;
    }
    .comenzi_active_table td:last-child, .comenzi_active_table th:last-child {
        text-align: right;
    }
    .date_livrare_table td:first-child, .date_livrare_table th:first-child {
        width: auto;
    }
  
  }
  @media screen and (max-width: 470px) {
    .istoric_comenzi_img{
        width:85px;
        height:85px;
    }
    .istoric_comenzi_row h3, .istoric_comenzi_row h4 {
        font-size: 18px;
    }
    .product-price-cart {
        font-size: 17px;
    }
    .product_info_istoric .product-code{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .product_info_istoric .marime {
        font-size: 11px;
    }
    .date_livrare_background p, .date_livrare_background_modifica p {
        font-size: 11px;
    }
  }
