.creeaza_cont{
    background-color:#fbfbfb;
}
.creeaza_cont_content{
    padding:60px 130px 170px 130px;
}
.creeaza_cont_title{
    font-family: 'BebasNeue';
    font-weight: 600;
    font-size: 45px;
    color: black;
    text-transform: uppercase;
    margin: 0;
}
.creeaza_cont_form{
    margin-top:20px;
    position:relative;
}
.form_height{
    min-height:625px;
}
.form_input{
    padding:10px 20px;
    margin-bottom:20px;
    width:100%;
    border-radius:5px;
    outline-width: 0;
    border:1px solid #d7d7d7;
    text-transform: initial!important;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
}
.creeaza_cont_form input[type="checkbox"]{
    width:auto;
    margin-right:10px;
    margin-bottom: 0;
}
.creeaza_cont_form label{
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size:14px;
    color:black;
    vertical-align:middle;
}
.creeaza_cont_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #727272;
    text-transform: initial!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
.creeaza_cont_form ::-moz-placeholder { /* Firefox 19+ */
    color: #727272;
    text-transform: initial!important;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
}
.creeaza_cont_form :-ms-input-placeholder { /* IE 10+ */
    color: #727272;
    text-transform: initial!important;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
}
  .creeaza_cont_form :-moz-placeholder { /* Firefox 18- */
    color: #727272;
    text-transform: initial!important;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
}
.creeaza_buton a{
    float:right;
}
.creeaza_banner{
    width:100%;
    padding:20px 25px;
    height:625px;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    background-position: center;
}
.creeaza_banner p{
    color:black;
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:150px;    
    line-height: 0.8;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}
.creeaza_social_buttons a{
    width:100%;
}
.creeaza_social_buttons{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}
.creeaza_social_alternative{
    color:black;
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:35px;   
}

@media(max-width:1580px){
    .creeaza_cont_content {
        padding: 60px 90px 170px 90px;
    }
}
@media(max-widtx:1280px){
    .creeaza_banner {
        background-position: center;
    }
}
@media(max-width:767px){
    .creeaza_social_buttons {
        position: initial;
        margin-top:20px;
    }
    .creeaza_buton a {
        float: none;
    }
    .creeaza_cont_content {
        padding: 60px 60px 170px;
    }
    .creeaza_banner p {
        font-size: 100px;
    }
}
@media(max-width:560px){
    .creeaza_cont_content {
        padding: 60px 20px 170px;
    }
    .creeaza_banner {
        height: 500px;
    }
}