
.content_detaliu_produs{
    background-color: #fbfbfb;
}
.produs_detaliu_path{
    padding:30px 0px;
    float:none;
}
.produs_detaliu_inapoi{
    margin-left: 27px;
    margin-bottom:20px;
}
.produs_detaliu_inapoi a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'BebasNeue';
    font-weight:400;
    font-size:25px;
    color:black;
    text-transform: uppercase;
}
.produs_detaliu_inapoi i{
    margin-right:10px;
}
.produs_detaliu_inapoi a:hover{
    color:#f03e45;
}
#image-gallery{
    text-align:center;
}
#image-gallery .cloudzoom{
    -webkit-box-shadow:  0 6px 13px -7px grey;
    -moz-box-shadow: 0 6px 13px -7px grey;
    box-shadow: 0 6px 13px -7px grey;
}
#image-gallery li img{
    width:inherit;
}
.cloudzoom-blank{
     width:750px!important;
}

.cloudzoom-zoom-inside:hover{
    cursor: zoom-in;
}
.produs_nume{
   margin-bottom:25px; 
}
.produs_nume h2{
    font-family: 'BebasNeue';
    font-weight:800;
    font-size:45px;
    color:black;
    text-transform: uppercase;
    margin:0;
}
.produs_nume p{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
    color:#888888;
}
.produs_detalii{
    margin-bottom:40px;
}
.produs_detalii p{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:16px;
    color:black;    
}
.produs_specificatii p{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:16px;
    display:inline-block;
    color:black;   
}
.produs_detalii .produs_detalii_titlu, .produs_detalii_titlu, .produs_specificatii>h1,.produs_specificatii>h2 , .produs_specificatii>h3, .produs_specificatii>h4, .produs_specificatii>h5, .produs_specificatii>h6, .produs_specificatii>p{
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:16px;
    color:#888888;
}
.produs_specificatii>div{
    min-width:160px;
}

.produs_specificatii p:nth-child(odd){
    min-width:160px;
}
.produs_specificatii{
    margin-bottom:55px;
}
.produs_marime{
    margin-bottom:5px;
}
.produs_marime  p{
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:20px;
    color:black;
    display:inline-block;
    border:1px solid #959595;
    padding:0px 5px;
    margin:5px;
    cursor: pointer;
}
.produs_marime  p:hover{
    color: #ddbf9f;
}
.produs_marime  .produs_marime_ultima{
    color:#ed1b24;
}
.produs_marime  .produs_marime_indisponibila{
   color:#bcbcbc;
   pointer-events: none;
}
.produs_ultima_pereche{
    color:#ed1b24;
    margin:0;
    text-transform: initial!important;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:10px;
}
.produs_livrare{
    color:#4d7612;
    margin:0;
    margin-left:10px;
    text-transform: initial!important;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:10px;
}
.produs_specificatii_marime{
    display: inline-block;
    padding-right: 30px;
    text-align:left;
}
.produs_specificatii_marime tr td p{
    text-transform:initial!important;
    margin:0;  
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
    color:black;
}
.produs_specificatii_marime tr{
    height:30px;
}
.produs_specificatii_marime tr:nth-child(2) p{
    color:#ed1b24;
}
.produs_specificatii_tabel{
    display:inline-block;
}
.produs_specificatii_tabel td{
    width:30px;
    height:30px;
    text-align:center;
}
.produs_specificatii_tabel tr:nth-child(odd) td:nth-child(odd){ 
    background: #f2f2f6;
}
.produs_specificatii_tabel tr:nth-child(odd) td:nth-child(even){ 
    background: white;
}
.produs_specificatii_tabel tr:nth-child(even) td:nth-child(odd){
    background: #e6e3e3;
}
.produs_specificatii_tabel tr:nth-child(even) td:nth-child(even){
    background: #f2f2f6;
}
.detaliu_dreapta{
    position: relative;
}
.detaliu_produs_reducere{
    position:absolute;
    top:0;
    right:0;
}
.produs_culori_disponibile{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-top:15px;
    padding-bottom:30px;
    border-bottom:1px solid black;
}
.produs_culori_disponibile div{
    width:100px;
    height:100px;
    margin:15px;
    box-shadow: 0 6px 13px -7px grey;
}
.produs_detaliu_pret_adauga{
    padding:20px 0px 25px;
    overflow:hidden;
}
.produs_detaliu_pret{
    float:left;
}
.produs_detaliu_pret p:first-child{
    font-family: 'BebasNeue';
    font-weight:600;
    font-size:35px;
    color:black;
    text-transform: uppercase;
    margin:0;
    display:inline;
}
.produs_detaliu_pret p:nth-child(2){
    font-family: 'BebasNeue';
    display:inline;
    font-weight:600;
    font-size:25px;
    color:black;
    text-transform: uppercase;
    margin:0;
    text-decoration-line: line-through;
    vertical-align: top;
    margin-left:7px;
}
.produs_detaliu_pret p:last-child{
    margin:0;  
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:12px;
    color:#888888;
}
.produs_detaliu_adauga{
    float:right;
}
.produs_detaliu_adauga p{
    padding:7px 65px 7px 55px;
    background-color:black;
    position: relative;
    display:inline-block;
    border-radius:5px;
    margin-top:4px;
    cursor:pointer;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
.produs_detaliu_adauga p:focus{
    text-decoration: none;
    color:white;
}
.produs_detaliu_adauga p:hover{
    text-decoration: none;
    color:white;
    background-color:#ae0e15;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
.produs_detaliu_adauga a{
    color:white;
    font-family: 'BebasNeue';
    font-weight:500;
    font-size:23px;
    text-decoration: none;
}
.produs_detaliu_adauga span{
    position: absolute;
    right:15px;
    bottom:8px;
}
.advantage_detaliu{
    height:auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.advantage_detaliu p{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:12px;
    color:black;
    margin:0;
}
.advantage_detaliu p:first-of-type{
    font-weight:600;
}
.advantage_detaliu span{
    height:70px;;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.produs_marime .produs_marime_selectata{
    color: #ddbf9f;
    border:1px solid #ddbf9f;
}
.lSSlideOuter .lSPager.lSGallery img{
    -webkit-box-shadow:  0 6px 13px -7px grey;
    -moz-box-shadow: 0 6px 13px -7px grey;
    box-shadow: 0 6px 13px -7px grey;
}
.cloudzoom-blank{
    top:272px!important;
}
.cloudzoom-zoom-inside{
    top:272px!important;
}