@media(max-width:1280px){
    .detaliu_dreapta{
        margin-top:40px;
    }
}
@media(max-width:1265px){
    .produs_specificatii_marime {
        padding-right: 10px;
    }
}
@media(max-width:992px){
    .produs_livrare{
        margin-bottom:30px;
    }
    .produs_specificatii_marime , .produs_specificatii_tabel{
        margin-bottom:15px;
    }
}
@media(max-width:560px){
    .produs_detaliu_path{
        margin-left:0;
    }
    .produs_detaliu_inapoi{
        margin-left: 0;
    }
    .produs_detaliu_inapoi a{
        font-size:22px;
    }
    .produs_detaliu_path {
        padding: 20px 0px;
    }
    .produs_nume h2 {
        font-size: 32px;
    }
    .detaliu_produs_reducere span img{
        width:85%;
    }
    .produs_specificatii p:nth-child(odd){
        min-width: 145px;
    }
    .produs_detaliu_adauga {
       display:block;
        margin-top: 20px;
        float:none;   
    }
    .produs_detaliu_pret{
       display:block;
       float:none;   
    }
    .produs_specificatii_marime tr td p {
        font-size: 14px;
    }
}
@media(min-width:1199px) and  (max-width:1280px){
    .cloudzoom-blank{
        left:15px!important;
    }
    .cloudzoom-zoom-inside{
        left:15px!important;
    }
}