@media screen and (min-width:1580px){
    .c1560 {
        width: 1560px;
    }
}
@media(max-width:1579px) {
    .footer-list li a {
        font-size: 17px;
    }

}
@media(max-width:1199px) {
    .new-product .product-title {
        font-size: 16px;
    }
    .nav>li>a {
        padding: 10px 9px;
    }
    .nav>li {
        font-size: 18px;
    }
    .title-head {
        font-size: 17px;
    }
    .product-info h4 {
      font-size: 20px;
    }
    .product-price-cart {
        font-size: 18px;
    }
    .elimina {
        font-size: 18px;
    }
    .item-img {
        width: 85px;
        height: 85px;
    }
    .cosul-meu .product-info {
        width: calc(100% - 85px);
    }
    .plus-minus span {
        font-size: 13px;
    }
    .cnt {
        width: 35px;
        height: 32px;
        font-size: 15px;
    }
    .plus-minus {
        max-width: 74px;
    }

}
@media (max-width: 991px) {
    .navbar-earlycollapse .navbar-header, .navbar-earlycollapse .navbar-nav, .navbar-earlycollapse .navbar-nav > li {
      float: none;
    }
    .navbar-earlycollapse .navbar-nav {
      margin: 7.5px -15px;
    }
    .navbar-earlycollapse .navbar-collapse.collapse {
      display: none !important;
      border-top: 1px solid #e7e7e7;
    }
    .navbar-earlycollapse .navbar-collapse.collapse.in {
      display: block !important;
    }
    .navbar-earlycollapse .navbar-toggle {
      display: block;
    }
    .navbar-earlycollapse .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .login,
    .create-account {
    padding-top: 20px;
    padding-left: 10px;
    }
    .fb, 
    .google {
        width: 90%;
        margin-bottom: 5px;
    }
    .navbar-toggle {
        margin-top: 28px;
    }
    .navbar-brand {
        margin-top: 0px;
    }

    .navbar-brand img {
        width: 215px;
    }
    .navbar {
        min-height: 85px;
    }
    .navbar-default .navbar-collapse {
        margin-top: 0px;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-right {
        float: none!important;
    }
    .navbar-header {
        min-height: 85px;
    }
    .categ-pic {
        min-height: 400px;
        height: auto;
    }
    .overlay {
        min-height: 400px;
        height: auto;
    }
    .search-product {
        top: 0px;
    }
    .search-product .search-categs {
        display: none;
    }
  }


@media(max-width:767px) {
    .login,
    .create-account {
    padding-top: 20px;
    padding-left: 10px;
    }
    .fb, 
    .google {
        width: 90%;
        margin-bottom: 5px;
    }
    .main-banner-t {
        font-size: 34px
    }
    .find-out {
        font-size: 17px;
        width: 150px;
        padding-top: 2px;
        padding-bottom: 2px;
        bottom: 0;
    }
    .social-media li a {
        font-size: 24px;
    }
    .advantages {
        display: block;
    }
    .advantage {
        width: 100%;
    }
    .item {
        height: 380px;
    }
    .new-items-c .owl-nav button.owl-next, .new-items-c .owl-nav button.owl-prev {
        font-size: 16px;
    }
    
    .new-items-c .owl-prev {
        left: -15px;
    }

    .new-items-c .owl-next {

        right: -15px;
    }
    .footer-list {
        text-align: center;
    }
    .logo-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }
    .newsletter {
        margin-bottom: 20px;
    }
    .form-group.empty {
        min-height: 0px;
        margin-bottom: 0px;
    }
    .create-account-form .creat-account {

        font-size: 15px;
    }
    .cosul-meu-heade {
        display: none;
    }
    .price-m {
        display: inline;
    }
    .costs {
        margin: 0 auto;
        float: none;
    }
    .wrapper-b {
        text-align: center;
    }
    .row-item:last-of-type {
        border-bottom: none;
    }
}

@media(max-width:600px) {
    #search {
        margin-top: 30px;
    }
    .close-search {
        top: 8px;
    }
}
@media(max-width:479px) {
    .main-banner-t {
        font-size: 23px
    }
    .social-media li a {
        font-size: 17px;
    }
}
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -128px!important;
    }
    .product-price-cart br {
        display: none;
        float: left;
    }
    .cosul-meu  .row-item {
        border-bottom: none;
    }
}

@media screen and (min-width:1200px) {
    .centered-l {
        display: block;
        margin: 0 auto;
        width: 135px;
    }


}