@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue/BebasNeue-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue/BebasNeue-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue/BebasNeue-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'BebasNeue';
    font-weight: 400;
}
/* header */

.navbar {
    min-height: 137px;
    margin-bottom: 0px;
}
.navbar .container-fluid.c1560 {
    min-height: inherit;
}

.nav>li {
    font-size: 22px;
    color: #181818;
}
.navbar-default {
    background: #fff;
}

.navbar-default .navbar-collapse {
    margin-top: 40px;
}
.navbar-brand {
    height: initial;
    margin-top: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #181818;
    padding-bottom: 5px;
    position: relative;
}
.navbar-default .navbar-nav>li>a.active:before {
    content: "";
    height: 3px;
    background: #f03e45;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #f03e45;
    background-color: transparent;
}

.dropdown-content {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 138px;
    left: 0;
    background-color: #f1f1f1;
    display: none;
    height: auto;
    min-height: 69px;
    z-index: 2;
}

.dropdown-content-categ {
    display: none;
}
.dropdown-content .categ {
    float: left;
    min-width: 100px;
    margin-top: 10px;
}
.dropdown-content .categ a {
    font-size: 20px;
    color: #181818;
    text-decoration: none;
    position: relative;
}
.dropdown-content .categ ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}
.dropdown-content .categ a:hover {
    text-decoration: none;
}

.dropdown-content .categ a.active::before {
    content: "";
    height: 3px;
    width: 100%;
    background: #f03e45;
    position: absolute;
    bottom: -3px;
}
.dropdown-content .categ .lvl2-categ {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 3px;
}
.subtitle {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 3px;
    margin-top: 14px;
    margin-bottom: 18px;
    position: relative;
    display: inline-block;
}

.subtitle::before {
    content: "";
    height: 3px;
    width: 100%;
    background: #f03e45;
    position: absolute;
    bottom: -3px;
}
.new-product {
    width: 100%;
    height: calc(100vw / 8.34);
    background: #fff;
    margin-bottom: 5px;
    padding: 7px;
    position: relative;
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38);
    -moz-box-shadow: px 2px 15px -4px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38);
}

.new-product .product-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.new-product .img-product {
    max-height: calc((100vw / 8.34) - 70px);
    margin: 0 auto;
    display: block;
    max-width: 145px;
    object-fit: contain;
    height: inherit;
}

.new-product .discover {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: none;
    
}

.new-product:hover .discover {
    display: block;
}
.product-row {
    display: block;
    min-height: 60px;
    width: 100%;
}
.product-img {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38);
    -moz-box-shadow: px 2px 15px -4px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38)
}
.product-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.product-row h3 {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
}

.product-row h3 a {
    color: #000;
    text-decoration: none;
}
.see-more {
    font-size: 18px;
    float: right;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
    text-decoration: none;

}

.see-more:hover {
    text-decoration: none;
}

.see-more i {
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top: -2px;
}

.search-box {
    max-width: 490px;
    width: 100%;
    min-height: 500px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.input-wrapper {
    position: relative;
}
.search-box input[type="text"]{
    height: 40px;
    width: 100%;
    padding-right: 34px;
    padding-left: 10px;
    font-size: 18px;
}
.search-box .search-icon {
    position: absolute;
    right: 7px;
    top: 8px;
    font-size: 22px;
    cursor: pointer;
}

.search-results .product-row h3 {
    font-size: 18px;
}
.see-all-results {
    text-transform: none;
}
.search-results .see-more {
    font-size: 16px;
    display: block;
    text-align: right;
    float: none;
}

.search-results .see-more i {
    font-size: 10px;
}
.search-results {
    margin-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #a1a1a1;
}
.search-categs {
    display: flex;
    justify-content: space-between
}
.search-categs .categ {
    width: 100px;
    
}
.search-categs .categ img {
    width: 100%;
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38);
    -moz-box-shadow: px 2px 15px -4px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.38)
}

.categ h3 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.wrapper-search {
    width: 100%;
    position: relative;
}

.close-toggle {
    position: absolute;
    top: 35px;
    right: 0;
    font-size: 21px;
    color: #000;
}

/* index */
.main-banenr {
    background-image: url(./assets/img/main-banner.jpg);
    width: 100%;
    height: calc(100vw / 2.97);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.main-banner-t {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5490);
    margin-top: 0px;

}
.my-account-wrapper {
    position: relative;
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}

.create-account {
    background-image: url(/assets/img/bg-register.jpg);
    min-height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-left: 35px;
}

.login {
    background-image: url(/assets/img/bg-login.jpg);
    min-height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.no-logged-in {
    padding-top:50px;
    padding-bottom: 50px;
}

.no-logged-in .close-toggle {
    top: 0;
}  
.create-account {
    margin-bottom: 50px;
}
.create-account h3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}

.create-account p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}
.creat-account {
    margin-top: 50px;
}
.btn {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 50px;
}

.btn-brown {
    background-color: #ddbf9f;
}

.login {
    padding-top: 40px;
    padding-left: 35px;
}

.login p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;  
}
.login h3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}
.btn-black {
    background-color: #000;
}
.login-form {
    margin-bottom: 20px;
}
.login-form input {
    max-width: 240px;
    display: inline-block;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.fb {
    background-color: #4267b2;
}

.google {
    background-color: #4285f4;
}

.fb, 
.google {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    margin-right: 5px;
    width: 47%;
    max-width: 270px;
    padding: 8px 10px 8px 35px;
}
.fb i,
.google i {
    position: absolute;
    left: 10px;
    font-size: 22px;
}

.google img {
    background: #fff;
    position: absolute;
    left: 9px;
    width: 23px;
}

.psw-reminder {
    text-align: left;
    font-size: 12px;
}

.psw-reminder a {
    font-size: 13px;
    color: #4267b2;
    text-decoration: underline;
}

.account-links {
    list-style: none;
    padding-left: 0px;
    min-height: 30px;
    float: right;
    margin-top: 17px;
}
.account-links li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    
}
.account-links li:first-of-type {
    padding-left: 0px;
}
.account-links li:last-of-type {
    padding-right: 0px;
}
.account-links li a {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 3px;
    color: #000;

    position: relative;
}
.account-links li a {
    text-decoration: none;
}
.account-links li a.active::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #f03e45;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.account-links li a:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #f03e45;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.cat-cart a img {
    width: 100%;
   
}

.cat-cart {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: calc(100vw / 4);
}

.cart-drop {
    padding-top: 30px;
    padding-bottom: 30px;
}

.car-categ-title {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    position: absolute;
    bottom: 0;
    margin-left: 13px;
}

.my-cart h3 {
    font-size: 35px;
    font-weight: 600;
    color: #101010;
    margin-top: 0px;
}

.item-img {
    width: 100px;
    height: 100px;
    float:left;
    background-size: cover;
    background-repeat: no-repeat;
}
.row-item {
    width: 100%;
    min-height: 110px;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

.product-info {
    height: 100px;
    float: left;
    width: calc(100% - 200px);
    padding-left: 10px;
}

.product-info h4 {
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 0px;
}
.product-info h4 a {
    text-decoration: none;
    color: #101010;
}
.product-code {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.product-code span {
    text-transform: uppercase;
}

.marime {
    color: #888888;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.marime span {
    border: 1px solid #888888;;
    padding-left: 2px;
    padding-right: 4px;
    color: #000;
    font-weight: bold;
}

.product-price {
    max-width: 100px;
    float: right;
    min-height: 100px; 
    position: relative;
}

.product-price p {
    font-size: 20px;
    font-weight: bold;
}
.product-price a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ba2626;
    font-weight: bold;
}

.cart-items {
    overflow-y: scroll;
    height: 390px;
}

.view-all-items p {
    font-size: 20px;
    text-align: right;
    margin-top: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}
.view-all-items p a:hover {
    text-decoration: none;
}
.view-all-items p a {
    color: #000;
}
.find-out:hover {
    text-decoration: none;
    color: #fff;
}
.find-out {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 230px;
    color: #fff;
    background: #101010;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.social-media {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 0 8px 0 10px;
    background: rgba(255, 255, 255, 0.7);
    

}
.social-media li a {
    color: #000;
    font-size: 30px;
}

.categ-1 {

}

.categ-pic {
    width: 100%;
    height: 645px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 30px;
}
.categ-pic:hover .overlay {
    opacity: 1;
}
.categ-pic:hover  h2 {
    display: none;
}
.categ-pic h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    color: #000;
    z-index: 2;
}

.just-link {
    margin-bottom: 30px;
}

.overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all  ease-out 0.2s;
    -moz-transition: all  ease-out 0.2s;
    -o-transition: all  ease-out 0.2s;
    transition: all  ease-out 0.2s;
}

.overlay .categ a {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
}
.overlay .categ ul {
    list-style: none;
    padding-left: 20px;
}
.overlay .categ ul li a {
    font-size: 25px;
}

.categs-acordion .panel-default,
.categs-acordion .panel-default>.panel-heading,
.categs-acordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-color: transparent;  
    background-color: transparent;
    border-color: transparent;
}

.categs-acordion .panel-default>.panel-heading {
    color: #fff;
    padding: 0px;
    
}
.categs-acordion .panel-default>.panel-heading .panel-title {
    font-size: 55px;
    font-weight: bold;
    font-family: 'BebasNeue';
}

.categs-acordion .panel-default>.panel-heading .panel-title a {
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
}

.categs-acordion .panel-default>.panel-heading .panel-title a[aria-expanded]:before {
    content: "";
    height: 4px;
    width: 0%;
    background-color: #ed1b24;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all  ease-out 0.2s;
    -moz-transition: all  ease-out 0.2s;
    -o-transition: all  ease-out 0.2s;
    transition: all  ease-out 0.2s;
}
.categs-acordion .panel-default>.panel-heading .panel-title a[aria-expanded="true"]:before {
    width: 150%;
}
.overlay-categs {
    padding-left: 0px;
    list-style: none;
}

.overlay-categs li a {
    font-size: 25px;
    color: #fff;
}

.categs-acordion {
    margin-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.no-decoration {
    text-decoration: none!important;
}

.advantages-section {
    min-height: 130px;
    border-bottom: 5px solid #ddbf9f;
    background-color: #e4d4c2;
    width: 100%;
    margin-bottom: 30px;

}

.advantages {
    display: flex;
    justify-content: space-between;
}
.advantage {
    width: 230px;
    height: 125px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.advantage img {
    margin-top: 33px;
    margin-bottom: 5px;
    text-align: center;

}

.advantage p {
    font-family: 'Open Sans', sans-serif;
}
.new-items h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.item-c {
    /* width: 364px; */
    height: 480px;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    padding: 15px;
    margin:10px;
}
.item-c a {
    color: #101010;
}
.item-c a:hover {
    text-decoration: none;
}
.item-c h3 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    min-height: 60px;
}
.item-c img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 280px;
}
.item-c span {
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.item-c span sup {
    text-decoration: line-through;
}

.new-items-c .owl-nav {
    position: absolute;
    top: 240px;
    width: 100%;
}

.new-items-c .owl-prev {
    float: left;
    position: relative;
    left: -20px;
}

.new-items-c .owl-next {
    float: right;
    position: relative;
    right: -20px;
}

.new-items-c .owl-nav button.owl-next, 
.new-items-c .owl-nav button.owl-prev {
    font-size: 30px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #101010;
    outline: none;
}

.item-b {
    height: 230px;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.09);
    margin:10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.item-b img {
    width: 90%!important;
    margin:0 auto;
}

footer {
    background-color: #101010;
    min-height: 230px;
    padding-top: 50px;
    margin-top: 60px;
}

.footer-item {
    color: white;
    margin-bottom: 10px;
}

.footer-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}

.footer-item p a {
    color: #fff;
}

.logo-footer {
    margin-bottom: 15px;
}

.newsletter h3 {
    margin-top: 0px;
    color: #ddbf9f;
    margin-bottom: 0px;
}

.newsletter p {
    color: #ddbf9f;
    font-size: 14px;
    margin-bottom: 0px;
}
.input-f {
    position: relative;
}

.input-f input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ddbf9f;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    padding-right: 135px;
}

.input-f button {
    position: absolute;
    right: 0;
    top: 2px;
    background: transparent;
    border: none;
    color: #ddbf9f;
    font-size: 18px;
}

.newsletter-f p.gdpr {
    font-size: 10px;
    margin-top: 10px;
    color: #5e5e5e;
    font-family: 'Open Sans', sans-serif;
}

.round {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e;
    font-size: 10px;
    margin-top: 5px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 9px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #c2a88c;
    border-color: #c2a88c;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

.checkbox-t {
    position: relative;
    top: -5px;
    left: 9px;
}

.footer-list {
    list-style: none;
    padding-left: 0px;
}

.footer-list li a {
    color: #fff;
    font-size: 20px;
}

.social-footer i {
    margin-right: 4px;
}

.gallery li img {
    object-fit: cover;
    height: inherit;
}
.cosul-meu .title {
    font-size: 35px;
    font-weight: bold;
    color: #000;
}
.cosul-meu .login {
    background: none;
    padding: 0;
}

label {
    font-size: 16px;
    color: #6d6c6c;
    font-family: 'Open Sans', sans-serif;
}
.cosul-meu ::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
}

.cosul-meu   ::-moz-placeholder {
    color: #000;
    font-weight: bold;
}

.cosul-meu  :-ms-input-placeholder {
    color: #000;
    font-weight: bold;
}

.cosul-meu :-moz-placeholder {
    color: #000;
    font-weight: bold;
}
::-webkit-input-placeholder { 
    font-family: 'Open Sans', sans-serif;
  }
  ::-moz-placeholder { 
    font-family: 'Open Sans', sans-serif;
  }
  :-ms-input-placeholder { 
    font-family: 'Open Sans', sans-serif;
  }
  :-moz-placeholder { 
    font-family: 'Open Sans', sans-serif;
  }

  .create-account-form .form-control {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: bold;
  }

  .form-section {
      margin-bottom: 20px;
  }

  .create-account-form .creat-account{
    margin-top: 0px;
    float: right;

  }

  .cosul-meu .login {
    min-height: 290px;
  }

  .form-group.empty {
      min-height: 38px;
  }

  .create-account-form  input[type="text"],
  .create-account-form  input[type="email"],
  .create-account-form  input[type="password"],
  .create-account-form  select  {
      min-height: 38px;
  }

  .cosul-meu .login-form input {
    min-height: 38px;
  }

  .cosul-meu-page .cart-items {
      height: initial;
      overflow-y: initial;
    
  }
  .cosul-meu-page {
      border-bottom: 1px solid #000;
  }
  .title-head {
      font-size: 22px;
      color: #ddbf9f;
      font-weight: bold;
  }

  .product-price-cart {
      font-size: 26px;
      font-weight: bold;
      float: left;
      color: #be966b;
      margin-bottom: 0px;
      text-align: center;
  }
.price-m {
    display: none;
}
  .subtotal {
      color: #000;
  }

  .elimina {
      cursor: pointer;
      font-size: 25px;
      margin-bottom: 0px;
      text-align: right;
  }

  .cosul-meu-heade {
      border-bottom: 1px solid #ddbf9f;
  }
  


  .cosul-meu  .product-info {
    width: calc(100% - 100px);
  }
  .plus-minus {
    display: block;
    margin: 0 auto;
    max-width: 104px;
  }
.plus-minus span {
    font-size: 20px;
    cursor: pointer;
}
  .cnt {
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.elimina-cosul-meu-m {
    font-family: 'Open Sans', sans-serif;
    color: #ba2626;
    font-weight: bold;
    margin-top: 10px;
}

.no-m {
    margin-top: 0px;
}

.subtotal-wrapper .creat-account {
    font-size: 20px;
    padding: 0px 20px;
}

.subtotal-wrapper {
    padding-top: 20px;
}
.costs {
    max-width: 227px;
    float: right;
    width: 100%;
    font-weight: bold;
}
.costs p {
    margin-bottom: 0px;
}
.costs p span {
    float: right;
}
.sub,
.livrare {
    font-size: 22px;
}

.sub span,
.livrare span {
    color: #be966b;
}
.tot {
    font-size: 30px;
}

.info-autentificare {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sparator {
    margin-bottom: 10px;
    border-top: 1px solid #000;
    width: 100%;
    max-width: 700px;
}

.selected-address {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
    font-weight: bold;
}
.btn-medium {
    font-size: 16px;
    padding: 8px 25px;
    font-family: 'Open Sans', sans-serif;
}



.btn-black:focus {
    color: #fff;
}
.btn-black:hover {
    color: #fff;
    background-color: #ae0e15;
    border-color: #ae0e15;
    outline: none;
}
.wrapper-new-address {
    display: none;
    
}

